Body{
  display: flex;
}

main {
  height: 100%;
  width: 4fr;
  order: 1;
  border: solid black 1px;
}

aside {
  height: 100%;
  width: 1fr;
  min-width: 48px;
  order: 0;
  border: solid black 1px;

}

img {
  border-radius: 50%;
  width: 300px;
}

span {
  font-size: 5em;
}
