Body{
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  height: 100%;
  width: 100%;
  text-align: center;
  position: relative;
  font-family: sans-serif;
  background-color: rgba(235, 235, 235, 0.8);
  color: rgba(235, 175, 35, 1);
}

header {
  height: 100vh;
  width: 100%;
  padding-top: 10vh;
  text-align: center;
  font-size: 5em;
  margin: 0;
  background-color: rgba(32, 34, 36, 1);
  color:rgba(235, 235, 235, 0.8);
}

main {
  height: 100%;
  width: 100%;
  order: 2;
  margin: auto;
}

aside {
  padding: 1em;
  height: 100vh;
  width: 15%;
  font-size: 2em;
  order: 0;
  text-align: left;
  box-shadow: 10px 0px 10px rgba(0, 0, 0, 0.5);
  position: fixed;
  background-color: rgba(32, 34, 36, 1);
  color: rgba(235, 175, 35, 1);

}

a:link {
  text-decoration: none;
  color: rgba(235, 175, 35, 1);
}

a:visited {
  color: rgba(235, 235, 235, 0.8);
}

ul {
  list-style: none;
  padding-left: 0;
  margin: 1em;
}

ul.available-cats li {
  height: 20vh;
}

.cat-page {
  height: 100vh;
  margin: 3em;
}

img {
  width: 500px;
  height: 500px;
  border-radius: 50%;
  border: solid lightGrey 10px;
  box-shadow: 10px 10px 10px black;
}

span {
  font-size: 5em;
}

footer {
  min-height: 48px;
  width: 100%;
  z-index: 1000;
  order: 100;
  text-align: center;
  margin: 0;
}
