Body{
  display: flex;
  flex-wrap: wrap;
  margin: 0;
}

header {
  min-height: 48px;
  width: 100%;
  z-index: 1000;
  order: 0;
  position: absolute;
  text-align: center;
  margin: 0;
  border: solid black 1px;

}

main {
  height: 100%;
  width: 4fr;
  order: 2;
  border: solid black 1px;
}

aside {
  height: 100%;
  width: 1fr;
  min-width: 48px;
  order: 1;
  border: solid black 1px;
}

img {
  width: 500px;
  height: 500px;
  border-radius: 50%;
  border: solid lightGrey 10px;
  box-shadow: 10px 10px 10px black;
}

span {
  font-size: 5em;
}

footer {
  min-height: 48px;
  width: 100%;
  z-index: 1000;
  order: 100;
  text-align: center;
  margin: 0;
  border: solid black 1px;
}
